{
    "semi": true,
    "singleQuote": true,
    "printWidth": 100,
    "htmlWhitespaceSensitivity": "css",
    "plugins": ["prettier-plugin-tailwindcss"],
    "trailingComma": "all",
    "tabWidth": 4
}
