@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #ea580c;
}

.link-underline {
    position: relative;
}
.link-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}
.link-underline:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
