@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #ea580c;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-md dark:bg-dark dark:bg-opacity-50;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
    @apply my-2 block h-[2px] w-[30px] bg-dark dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle {
    @apply translate-x-3;
}

.link-underline {
    position: relative;
}
.link-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}
.link-underline:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
